<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Blog/common.css' %}">
	<meta name="viewport" content="user-scalable=no,width = device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0">
</head>
<body style="background-color: white">
{% if blog %}
<h3>{{blog.title}}</h3>
<h4 style="text-align: right;">{{blog.subTitle}}</h4>
<p>{{blog.content}}</p>
{% else %}
	<p>Content disappeared!!!</p>
{% endif %}
</body>
</html>